# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Logs
logs
*.log
*.log.*

# Environment files
.env
.env.*

# OS-related
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build output
dist/
build/
coverage/

# Optional: if you're using TypeScript
*.tsbuildinfo
